html 
{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.epicgames.com%2Fstore%2Fen-US%2Fp%2Fbatman-arkham-city&psig=AOvVaw2InI3KYlFcaB-dShJu4_gO&ust=1641704922700000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCOjbwc-xofUCFQAAAAAdAAAAABAO);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}