html 
{
    background-image: url(https://cdn1.epicgames.com/undefined/offer/batman_arkham_city_promo-1920x1069-a9df1792f1f418d4269c1e42033c9602.jpg?h=270&resize=1&w=480);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}