html 
{
    background-image: url(http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQhagHwJEv9q5b73JMCyqCdfUoIhPeE_OwIKRPsnBJm0136_Jnhncn9TUcGkPgZBoBVUH0FP5WCyDOoEs5wubA);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}